* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(backgorund1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  padding-left: 3rem;
}

.logo {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(232, 144, 144);
  border: 1px solid rgb(8, 0, 85);
}

#ant {
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}

#war {
  height: 100%;
  width: 100%;
}

#hulk {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#thor {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#wido {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#wanda {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#falcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#spider {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#vision {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.4);
}

#caption {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

#hawkeye {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

#iron {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.4);
}
#war{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo:hover {
  filter: drop-shadow(0px 0px 15px rgb(243, 241, 241));
}

@media (max-width: 440px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    padding-left: 2rem;
    justify-content: center;
  }
}

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#heading {
  height: 10em;
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avenger {
  height: 13rem;
  filter: drop-shadow(0px 0px 20px green);
}

@media (max-width: 440px) {
  #heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #avenger {
    height: 10rem;
  }
}

.footer {
  margin-top: 1em;
  width: 100%;
  height: 10vh;
  background-color: rgb(112, 108, 108);
}
#box1 {
  display: flex;
  align-items: center;
  animation: animarion 1.8s ease 0s 1;
}
#box2 {
  display: flex;
  align-items: center;
  animation: animarion1 1.8s ease 0s 1;
}

#box3 {
  display: flex;
  align-items: center;
  animation: animarion 1.7s ease 0s 1;
}

#box4 {
  display: flex;
  align-items: center;
  animation: animarion1 1.7s ease 0s 1;
}

#box5 {
  display: flex;
  align-items: center;
  animation: animarion 1.6s ease 0s 1;
}

#box6 {
  display: flex;
  align-items: center;
  animation: animarion1 1.6s ease 0s 1;
}

#box7 {
  display: flex;
  align-items: center;
  animation: animarion 1.5s ease 0s 1;
}

#box8 {
  display: flex;
  align-items: center;
  animation: animarion1 1.5s ease 0s 1;
}

#box9 {
  display: flex;
  align-items: center;
  animation: animarion 1.4s ease 0s 1;
}

#box10 {
  display: flex;
  align-items: center;
  animation: animarion1 1.4s ease 0s 1;
}
#box11 {
  display: flex;
  align-items: center;
  animation: animarion 1.3s ease 0s 1;
}
#box12 {
  display: flex;
  align-items: center;
  animation: animarion1 1.3s ease 0s 1;
}
#box13 {
  display: flex;
  align-items: center;
  animation: animarion 1.1s ease 0s 1;
}

.pera {
  font-size: 4rem;
  margin-left: 3vw;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-shadow: 0px 0px 12px rgb(255, 0, 0);
}
a:hover{
  font-size: 3.9rem;
   color: rgb(126, 126, 128);
}

@media (max-width: 440px) {
  .pera {
    font-size: 2.5rem;
    margin-left: 4vw;
  }
  a:hover{
  font-size: 2.6rem;
   color: rgb(98, 98, 100);
}
}
a {
  text-decoration: none;
  color: rgb(174, 175, 178);
}

@keyframes animarion {
  from {
    transform: translate(-1000px);
  }
  to {
    transform: translate(0px);
  }
}

@keyframes animarion1 {
  from {
    transform: translate(1000px);
  }
  to {
    transform: translate(0px);
  }
}
